#detail-container {
  width: 60%;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

#detail-container img {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detail-info {
  font-size: 18px;
  line-height: 2;
  text-align: left;
}